<h3>
    UserStories
</h3>

<a href="/user_stories/create/<%= projectId %>" class="mdl-button mdl-js-button mdl-button--raised">
    Create UserStory
</a>

<ul class="demo-list-item mdl-list">
    <% userStories.forEach(userStory => { %>

    <li class="mdl-list__item">
        <i class="material-icons mdl-list__item-icon">dashboard</i>

        <span class="mdl-list__item-primary-content">
            <%= userStory.title %>
        </span>
        <a href ="/projects/update/<%= userStory._id %>" class="mdl-button mdl-js-button mdl-button--fab ">
            <i class="material-icons">edit</i>
        </a>
        <a href="/projects/delete/<%= userStory._id %> " class="mdl-button mdl-js-button mdl-button--fab ">
            <i class="material-icons">delete</i>
        </a>
    </li>
    <%});%>
</ul>