<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 
<body>
    <%- include("partials/nav.ejs") %>
    <h1>My first page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere omnis possimus laboriosam. Itaque ut omnis aperiam soluta alias dolore autem laudantium magni sit, ullam repellat quas impedit culpa ad voluptas.</p>
</body>
</html>