    <p>
        are you sure ?
    </p>

    <form action="/projects/delete" method="POST">
    <input type="hidden" name="_id" value="<%= _id %>">
    <a href="/projects" class="mdl-button mdl-js-button mdl-button--raised">
        Back
    </a>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        delete
    </button>
  
    </form>