<h3>
    Projects
</h3>

<ul class="demo-list-item mdl-list">

    <% projects.forEach(project => { %>

    <li class="mdl-list__item">
        <i class="material-icons mdl-list__item-icon">dashboard</i>
        <span class="mdl-list__item-primary-content">
            <a href="user_Stories/<%= project._id %>">
                <%= project.name %>
            </a>
        </span>
        <a href ="/projects/update/<%= project._id %>" class="mdl-button mdl-js-button mdl-button--fab ">
            <i class="material-icons">edit</i>
        </a>
        <a href="/projects/delete/<%= project._id %> " class="mdl-button mdl-js-button mdl-button--fab ">
            <i class="material-icons">delete</i>
        </a>
    </li>
    <%});%>
</ul>